@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}
body {
  @apply bg-[#0D1117] font-sans;
}
@keyframes scaleUp {
    from {
      transform: scale(0.9);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  .animate-form {
    animation: scaleUp 12s ease-in-out forwards;
  }

  .menu {
    @apply hover:border-b  hover:text-xl px-2 py-1 rounded-lg text-xl  font-medium transition
  }
  .menu.active {
    @apply border-b
  }
  